.item-details-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.item-details-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.item-details-cover {
    flex: 1;
    padding: 20px;
}

.item-details-cover img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-details-info {
    flex: 2;
    padding: 20px;
}

.item-details-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.item-details-description {
    margin: 15px 0;
    line-height: 1.6;
}

.item-details-description br {
    margin: 5px 0; /* Add some space between lines */
}

.item-details-action-buttons {
    margin-top: 20px;
}

.item-details-action-buttons a {
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.item-details-edit {
    background-color: #4CAF50;
    color: white;
}

.item-details-remove {
    background-color: #f44336;
    color: white;
}
