.log_reg_body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none; /* Allow clicks to go through the overlay */
}

.register {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    position: relative; /* Ensure the form is positioned above the overlay */
    z-index: 2; /* Ensure the form is above the overlay */
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.log_reg_form {
    display: flex;
    flex-direction: column;
}

.log_reg_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.log_reg_form input:focus {
    border-color: #007bff;
    outline: none;
}

p {
    margin-top: 20px;
    text-align: center;
}

p a {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

p a:hover {
    background-color: #0056b3;
}
